.btn {
	min-height: 250px;
	width: 60%;
	font:inherit
}
h1{
	font-size: 5rem;
}

body{
	width: 95%;
	margin: auto;
	text-align: center;
	font-family: monospace;
	font-size: 3rem;
}

#imgLoading{
	display: none;
}
